<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @recipe, :html => { :multipart => true } do |f| %>
      <div class="form-group">
        <%= f.input :name, label: 'Nome' %>
        <%= f.association :cuisine, label: "Cozinha" %>
        <%= f.association :type, label: 'Tipo de comida' %>
        <%= f.association :preference, label: 'Preferências de comida' %>
        <%= f.input :servings, label: 'Quantas pessoas serve' %>
        <%= f.input :prepare_time, label: 'Tempo de preparo (em minutos)' %>
        <%= f.input :difficulty, label: 'Nível de dificuldade (Fácil, Média ou Difícil)' %>
        <%= f.input :ingredients, as: :text, label: 'Ingredientes' %>
        <%= f.input :directions, as: :text, label: 'Passo a passo' %>
        <%= f.input :image, as: :file, label: 'Imagem' %>
        <%= f.button :submit, 'Salvar receita', class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
